# Database
DB_URL=jdbc:mysql://localhost:3307/db_hardwaretech_example
DB_USERNAME=root
DB_PASSWORD=password
DB_DRIVER=com.mysql.cj.jdbc.Driver

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Messaging - Order
ORDER_CREATE_EXCHANGE=order.exchange
ORDER_CREATE_QUEUE=order.queue
ORDER_ROUTING_KEY=order.create
ORDER_DLX=order.dlx
ORDER_DLQ=order.dlq

# Brevo
BREVO_API_KEY=
BREVO_API_URL=

# Gemini
GEMINI_API_KEY=
GEMINI_API_URL=