# Database
DB_URL=jdbc:mysql://localhost:3307/db_hardwaretech_example
DB_USERNAME=root
DB_PASSWORD=password
DB_DRIVER=com.mysql.cj.jdbc.Driver

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Redis
CACHE_HOST=localhost
CACHE_PORT=6379

# Order Microservice
ORDER_SERVICE_URL=http://localhost:8082

# Messaging - Order Command (backend -> order-microservice)
ORDER_CREATE_EXCHANGE=order.exchange
ORDER_CREATE_QUEUE=order.queue
ORDER_ROUTING_KEY=order.create
ORDER_DLX=order.dlx
ORDER_DLQ=order.dlq

# Messaging - Order Created Event (order-microservice -> backend)
ORDER_CREATED_EXCHANGE=order.created.exchange
ORDER_CREATED_QUEUE=order.created.queue
ORDER_CREATED_ROUTING_KEY=order.created
ORDER_CREATED_DLX=order.created.dlx
ORDER_CREATED_DLQ=order.created.dlq

# JWT
JWT_SECRET=sptech

# Brevo
BREVO_API_KEY=
BREVO_API_URL=

# Gemini
GEMINI_API_KEY=
GEMINI_API_URL=