<configuration>
    <!-- Appender para o console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Appender para o OpenTelemetry -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Root logger com ambos os appenders -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>
